{% extends "base.html.jinja" %}
{%block title %}
    Produkt {{product_id}}
{% endblock title%}
{% block content %}
    <p>To jest strona z opiniami o produkcie {{product_id}}.</p>
{% endblock content %}